.logo {
  z-index: 10;
  width: 100%;
  max-width: 170px;

  @include min(1340) {
    max-width: 250px;
  }

  svg {
    width: 100%;

    #logo-01,
    #logo-02,
    #logo-03,
    #logo-04,
    #logo-05,
    #logo-06,
    #logo-07,
    #logo-08,
    #logo-09,
    #logo-10,
    #logo-11,
    #logo-12,
    #logo-13,
    #logo-14,
    #logo-15,
    #logo-16,
    #logo-17,
    #logo-18,
    #logo-19,
    #logo-20,
    #logo-21,
    #logo-22,
    #logo-23,
    #logo-24,
    #logo-25,
    #logo-26,
    #logo-27,
    #logo-28,
    #logo-29,
    #logo-30,
    #logo-31,
    #logo-32,
    #logo-33,
    #logo-34,
    #logo-35,
    #logo-36,
    #logo-37,
    #logo-38,
    #logo-41,
    #logo-42,
    #logo-43 {
      fill: #fff;
      transition: .5s;
    }

    #logo-45 {
      fill: transparent;
    }
  }
}

.header.is-active,
.header.is-scroll {
  .logo svg {
    #logo-01,
    #logo-02,
    #logo-03,
    #logo-04,
    #logo-05,
    #logo-06,
    #logo-07,
    #logo-08,
    #logo-09,
    #logo-10,
    #logo-11,
    #logo-12,
    #logo-13,
    #logo-14,
    #logo-15,
    #logo-16,
    #logo-17,
    #logo-18,
    #logo-19,
    #logo-20,
    #logo-21,
    #logo-22,
    #logo-23,
    #logo-24,
    #logo-25,
    #logo-26,
    #logo-27,
    #logo-28,
    #logo-29,
    #logo-30,
    #logo-31,
    #logo-32,
    #logo-33,
    #logo-34,
    #logo-35,
    #logo-36,
    #logo-37,
    #logo-38 {
      fill: #333;
    }
  }
}
