.logo {
  z-index: 10;
  width: 100%;
  max-width: 170px;

  @include min(1340) {
    max-width: 250px;
  }

  svg {
    width: 100%;

    #path156,
    #path158,
    #path160,
    #path162,
    #path164,
    #path166,
    #path168,
    #path170,
    #path172,
    #path174,
    #path176,
    #path178,
    #path180,
    #path182,
    #path184,
    #path186,
    #path188,
    #path190,
    #path192,
    #path194,
    #path196,
    #path198,
    #path200,
    #path202,
    #path204,
    #path206,
    #path208,
    #path210,
    #path212,
    #path214,
    #path216,
    #path218,
    #path220,
    #path222,
    #path224,
    #path226,
    #path228,
    #path230 {
      fill: #fff;
      transition: .5s;
    }

    #path244 {
      fill: transparent;
      transition: .5s;
    }
  }
}

.header.is-active,
.header.is-scroll {
  .logo svg {
    #path156,
    #path158,
    #path160,
    #path162,
    #path164,
    #path166,
    #path168,
    #path170,
    #path172,
    #path174,
    #path176,
    #path178,
    #path180,
    #path182,
    #path184,
    #path186,
    #path188,
    #path190,
    #path192,
    #path194,
    #path196,
    #path198,
    #path200,
    #path202,
    #path204,
    #path206,
    #path208,
    #path210,
    #path212,
    #path214,
    #path216,
    #path218,
    #path220,
    #path222,
    #path224,
    #path226,
    #path228,
    #path230,
    #path244 {
      fill: #333;
    }
  }
}
