.about{
  .container{
    padding-bottom: 64px;
  }
}

.about__title {
  color: $highlight;
}

.about__subtitle {
  @include min(768) {
    margin-bottom: 64px;
  }
}

.about__descr {
  text-align: center;

  p {
    @include responsive-font(18, 15);
    @include min(768) {
      margin-bottom: 32px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
