.concept {
  .container.container--paddings {
    padding-bottom: 0;
  }
}

.concept__uptitle {
  color: $highlight;
}

.concept__title {
  color: $highlight;
}

.concept__subtitle {
  margin-bottom: 56px;
}

.concept__descr {
  text-align: center;
}
