.interactive {
  .container {
    padding-bottom: 56px;
  }
}

.interactive__title {
  margin-bottom: 0;
  color: $highlight;
}

.interactive__link {
  display: block;
  margin-top: -32px;
  margin-bottom: -56px;

  @include min(768) {
    margin-top: 0;
    margin-bottom: -100px;
  }
  @include min(1024) {
    margin-bottom: -160px;
  }

  img {
    display: block;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }
}
