.interactive {
  .container {
    padding-bottom: 56px;
  }
}

.interactive__title {
  margin-bottom: 0;
  color: $highlight;
}

.interactive__link {
  display: block;
  height: 700px;
  max-height: 100vh;
  background-image: url('../img/bg-interactive-comp.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;
}
