.video {
  .container {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

.video__item {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 64px;
  transition: .5s;

  @include min(768) {
    flex-direction: row;
    align-items: center;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(even) {
    @include min(768) {
      flex-direction: row-reverse;
    }
  }
}

.video__link {
  position: relative;
  width: 100%;

  @include min(768) {
    width: 33%;
  }

  img {
    display: block;
    width: 100%;
  }
}

.video__btn {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 75px;
  height: 75px;
  margin: auto;
  border-radius: 50%;
}

.video__descr {
  width: 100%;
  margin-bottom: 32px;

  @include min(768) {
    width: 67%;
    margin-bottom: 0;
    padding-right: 64px;
    padding-left: 64px;
  }
}

.video__item:nth-child(even) {
  .video__descr {
    @include min(768) {
      padding-right: 64px;
      padding-left: 64px;
    }
  }
}

.video__title {
  animation-delay: .35s;
  color: $highlight;

  @include min(768) {
    text-align: left;
  }
}

.video__subtitle {
  animation-delay: .5s;

  @include min(768) {
    text-align: left;
  }
}

.video__text {
  text-align: center;

  @include min(768) {
    text-align: left;
  }

  p {
    display: block;
    animation-delay: .7s;

    @include responsive-font(18, 15);
  }

  a {
    margin-top: 8px;
    animation-delay: .9s;
  }
}
