.vr {
  .container {
    padding-bottom: 0;
  }
}

.vr__subtitle {
  color: $highlight;
}

.vr__link {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    width: 100%;
    max-width: 1100px;
    margin: -32px auto -32px;

    @include min(768) {
      margin: -64px auto -32px;
    }
    @include min(1100) {
      margin: -32px auto -100px;
    }
  }
}

.vr__link-btn {
  width: 100px;
  height: 100px;
  transition: .5s;
  border-radius: 50%;
  background-image: url('../img/360.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;

  @include min(768) {
    width: 200px;
    height: 200px;
  }

  &:hover {
    opacity: .7;
  }
}
