//- begin about
.about
  .container.container--paddings
    h2.about__title.subtitle ABOUT US
    .about__subtitle.subtitle Our Objective is to Be a Long Term and Trusted Partner to Our Clients
    .about__descr
      p We are beyond grateful to be part of the world of 3D art. To us it means being surrounded by fantastic sceneries every day and creating something new and magical that never existed before.
      p When it comes to promotional marketing materials for Off-plan Real Estate, VisEngine team is ready to embody all your ideas. Given the fact that a versatile advertising campaign for real estate requires flexibility of solutions, we developed a number of package offers, which will help you to find a holistic approach to the choice of advertising materials.
//- end   about