//- begin concept
.concept#concept
    .container.container--paddings
        .subtitle.concept__uptitle Concept
        h2.title.concept__title Apartment in Central Paris
        .concept__descr
            p A project with warm sunlight. A project where beauty is in the details.<br>A project which looks different and special every time you look through it.
        .concept__icons#concept__icons
            .concept__icon.concept__icon--location
                +svg('anim-location')
                .concept__icon-text.fadeInUp.animate__animated KEY LOCATION IN THE HEART OF PARIS
            .concept__icon.concept__icon--shop
                +svg('anim-shop')
                .concept__icon-text.fadeInUp.animate__animated INDIVIDUAL RETAIL UNITS
            .concept__icon.concept__icon--furniture
                +svg('anim-furniture')
                .concept__icon-text.fadeInUp.animate__animated FULLY REFURBISHED ELEGANT APARTMENTS
            .concept__icon.concept__icon--move
                +svg('anim-move')
                .concept__icon-text.fadeInUp.animate__animated READY TO MOVE-IN NOW
//- end   concept