//- begin concept
.concept#concept
    .container.container--paddings
        .subtitle.concept__uptitle Concept
        h2.title.concept__title Apartment in Central Paris
        .subtitle.concept__subtitle A project with warm sunlight. A project where beauty is in the details. A project which looks different and special every time you look through it.
        .concept__descr
            p 42 Rue Des Francs Bourgeois is a mixed-use development in the heart of Paris. A unique opportunity for future homeowners and potential investors.
            p The property comprises three individual retail floors and private apartments on the top four floors. Elegant architecture of an old hotel distinguishes the property from the rest in the area and its neatly renovated exterior creates synergy with the Parisian vibe.
            p It is a strategic opportunity for any luxury segment retail brand to rent or buy a space at 42 Rue Des Francs Bourgeois. Without doubt, it is also a perfect choice of apartments one has always dreamed of.
//- end   concept