//- begin gallery
.gallery#gallery
  .container.container--paddings
    .gallery__subtitle.subtitle Gallery
    h2.gallery__title.title Apartments
    .gallery__descr
      p The aim was not to make the interior spaces look pompous or bulky, but breathe new life into renovated property by adding a lot of natural light and giving it a modern albeit contemporary look.
      p Interiors are a smart combination of practical and simple forms and materials. Natural wood, velvet, brass and art-deco elements appeal to any potential homeowners as they elegantly convey a bohemian contemporary Parisian style.
      p Layouts of apartments are designed to create entirely autonomous areas, even though walls in certain areas are absolutely absent, and therefore enhance the overall functionality of each individual space. In addition, large windows in every room provide plenty of natural sources of light and fill in the interiors with sunlight and life.

  //- begin gallery__list
  .gallery__list
    //- begin gallery__item
    .gallery__item(style='background-image: url("assets/img/gallery-01.jpeg")')
      h3.gallery__item-title.fadeInUp.animate__animated EXTERIOR<br>3D VISUALIZATION
      .gallery__item-descr.fadeInUp.animate__animated
        p Every timber surface is screaming ‘touch me!’, only a single glance at the textile is enough to make one feel warm and cozy, and natural stone is inviting – 'this is your home and your castle'.
      a.gallery__item-link.fadeInUp.animate__animated(href="assets/img/gallery-01/gallery-01-1.jpeg" data-fancybox="gallery-01") Explore more
      a.gallery__item-link(href="assets/img/gallery-01/gallery-01-2.jpeg" data-fancybox="gallery-01")
      a.gallery__item-link(href="assets/img/gallery-01/gallery-01-3.jpeg" data-fancybox="gallery-01")
      a.gallery__item-link(href="assets/img/gallery-01/gallery-01-4.jpeg" data-fancybox="gallery-01")
      a.gallery__item-link(href="assets/img/gallery-01/gallery-01-5.jpeg" data-fancybox="gallery-01")
    //- end   gallery__item

    //- begin gallery__item
    .gallery__item(style='background-image: url("assets/img/gallery-02.jpeg")')
      h3.gallery__item-title.fadeInUp.animate__animated RETAIL SPACE
      .gallery__item-descr.fadeInUp.animate__animated
        p In the walls of the old hotel now there is a new stylish store.
        ul
          li Prestigious retail area in the heart of Paris
          li Spacious retail spaces of 100 m2
          li 3 Individual retail floors
          li Fully refurbished - elegant Parisian style
      a.gallery__item-link.fadeInUp.animate__animated(href="assets/img/gallery-02/gallery-02-1.jpeg" data-fancybox="gallery-02") Explore more
      a.gallery__item-link(href="assets/img/gallery-02/gallery-02-2.jpeg" data-fancybox="gallery-02")
      a.gallery__item-link(href="assets/img/gallery-02/gallery-02-3.jpeg" data-fancybox="gallery-02")
      a.gallery__item-link(href="assets/img/gallery-02/gallery-02-4.jpeg" data-fancybox="gallery-02")
      a.gallery__item-link(href="assets/img/gallery-02/gallery-02-5.jpeg" data-fancybox="gallery-02")
      a.gallery__item-link(href="assets/img/gallery-02/gallery-02-6.jpeg" data-fancybox="gallery-02")
      a.gallery__item-link(href="assets/img/gallery-02/gallery-02-7.jpeg" data-fancybox="gallery-02")
    //- end   gallery__item

    //- begin gallery__item
    .gallery__item(style='background-image: url("assets/img/gallery-03.jpeg")')
      h3.gallery__item-title.fadeInUp.animate__animated APARTMENT 1
      .gallery__item-descr.fadeInUp.animate__animated
        p A spacious kitchen-dining room is a perfect solution in our case. Owing to the efficient zoning, there is a place for a fireplace, dining table, coffee table and home theatre.
        p In addition, the space allowed us to make a small home library and due to lots of natural light it is also a great place to read in.
      a.gallery__item-link.fadeInUp.animate__animated(href="assets/img/gallery-03/gallery-03-1.jpeg" data-fancybox="gallery-03") Explore more
      a.gallery__item-link(href="assets/img/gallery-03/gallery-03-2.jpeg" data-fancybox="gallery-03")
      a.gallery__item-link(href="assets/img/gallery-03/gallery-03-3.jpeg" data-fancybox="gallery-03")
      a.gallery__item-link(href="assets/img/gallery-03/gallery-03-4.jpeg" data-fancybox="gallery-03")
      a.gallery__item-link(href="assets/img/gallery-03/gallery-03-5.jpeg" data-fancybox="gallery-03")
      a.gallery__item-link(href="assets/img/gallery-03/gallery-03-6.jpeg" data-fancybox="gallery-03")
      a.gallery__item-link(href="assets/img/gallery-03/gallery-03-7.jpeg" data-fancybox="gallery-03")
      a.gallery__item-link(href="assets/img/gallery-03/gallery-03-8.jpeg" data-fancybox="gallery-03")
      a.gallery__item-link(href="assets/img/gallery-03/gallery-03-9.jpeg" data-fancybox="gallery-03")
      a.gallery__item-link(href="assets/img/gallery-03/gallery-03-10.jpeg" data-fancybox="gallery-03")
    //- end   gallery__item

    //- begin gallery__item
    .gallery__item(style='background-image: url("assets/img/gallery-04.jpeg")')
      h3.gallery__item-title.fadeInUp.animate__animated APARTMENT 2
      .gallery__item-descr.fadeInUp.animate__animated
        p The initial task was to fit everything — and a little more — for a normal comfortable lifestyle in a cozy little apartment in Paris.
        p And although the main style of the apartment was dictated by a somewhat old-fashioned design of the hotel we didn’t want to make interior look pompous or bulky. On the contrary, our aim was to breathe new life into the old premises adding some air and freshness.
      a.gallery__item-link.fadeInUp.animate__animated(href="assets/img/gallery-04/gallery-04-1.jpeg" data-fancybox="gallery-04") Explore more
      a.gallery__item-link(href="assets/img/gallery-04/gallery-04-2.jpeg" data-fancybox="gallery-04")
      a.gallery__item-link(href="assets/img/gallery-04/gallery-04-3.jpeg" data-fancybox="gallery-04")
      a.gallery__item-link(href="assets/img/gallery-04/gallery-04-4.jpeg" data-fancybox="gallery-04")
      a.gallery__item-link(href="assets/img/gallery-04/gallery-04-5.jpeg" data-fancybox="gallery-04")
    //- end   gallery__item
  //- end   gallery__list
//- end   gallery