//- begin header
.header
  .container
    include ../elements/logo
    include ../elements/burger
    nav.header__menu
      ul.header__menu-link
        li.header__menu-item
          a(href="#concept").header__menu-link.scroll Concept
        li.header__menu-item
          a(href="#video").header__menu-link.scroll Video
        li.header__menu-item
          a(href="#gallery").header__menu-link.scroll Gallery
        li.header__menu-item
          a(href="#vr").header__menu-link.scroll VR tour
        li.header__menu-item
          a(href="#about").header__menu-link.scroll About us
        li.header__menu-item
          a(href="#interactive").header__menu-link.scroll 3D APARTMENT
        li.header__menu-item
          a(href="#contacts").header__menu-link.scroll Contact
//- end   header