//- begin interactive
.interactive#interactive
  .container.container--paddings
    h2.interactive__title.title INTERACTIVE 3D APARTMENT
  a(href='https://360.visengine.com/mpm2019/interactive_apartment/floor2.html#pano266/90.0/0.0/90.0' target='_blank').interactive__link

//- end   interactive