//- begin map
.map
  iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.978363221946!2d2.3569409156744014!3d48.85862297928753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e03ab880019%3A0x4bb3dab07be958bb!2zNDIgUnVlIGRlcyBGcmFuY3MgQm91cmdlb2lzLCA3NTAwNCBQYXJpcywg0KTRgNCw0L3RhtC40Y8!5e0!3m2!1sru!2sua!4v1642838916585!5m2!1sru!2sua' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy').map__iframe
//- end   map