//- begin top
.top
    .container
        h1.top__title.animate__fadeInUp.animate__animated Apartment in<br>Central Paris
        span.top__subtitle.animate__fadeInUp.animate__animated REAL LUXURY IT’S LIVING A LIFE YOU ENJOY EVERY DAY
        button.btn.top__button.animate__fadeInUp.animate__animated Virtual Tour
//- end   top