//- begin video
.video
  .container
    //- begin video__item
    .video__item
      .video__link.fadeInLeft.animate__animated
        a.video__btn.video-icon-box.video-icon-large(
          href="https://www.youtube.com/watch?v=GgsYYwbyQ-s"
          data-fancybox="video-01")
          span.video-icon
            span.video-icon-sonar
              span.video-icon-sonar-bfr.bg-extra-dark-gray.opacity-7
              span.video-icon-sonar-afr.bg-extra-dark-gray
        img(src="assets/img/video-01.png" alt="3D FLY-THROUGH ANIMATION")
      .video__descr
        h4.subtitle.video__title.fadeInUp.animate__animated VIDEO
        h3.subtitle.video__subtitle.fadeInUp.animate__animated 3D FLY-THROUGH ANIMATION
        .video__text
          p.fadeInUp.animate__animated Key location in the heart of Paris
          p.fadeInUp.animate__animated Individual retail units
          p.fadeInUp.animate__animated Fully refurbished elegant apartments
          p.fadeInUp.animate__animated Ready to move-in now
    //- end   video__item

    //- begin video__item
    .video__item
      .video__link.fadeInRight.animate__animated
        a.video__btn.video-icon-box.video-icon-large(
          href="https://www.youtube.com/watch?v=kTIE7ns00m4"
          data-fancybox="video-02")
          span.video-icon
            span.video-icon-sonar
              span.video-icon-sonar-bfr.bg-extra-dark-gray.opacity-7
              span.video-icon-sonar-afr.bg-extra-dark-gray
        img(src="assets/img/video-02.png" alt="RETAIL SHOWROOM 3D ANIMATION")
      .video__descr
        h4.subtitle.video__title.fadeInUp.animate__animated VIDEO
        h3.subtitle.video__subtitle.fadeInUp.animate__animated RETAIL SHOWROOM 3D ANIMATION
        .video__text
          p.fadeInUp.animate__animated Prestigious retail area in the heart of Paris
          p.fadeInUp.animate__animated Spacious retail spaces of 100 m2
          p.fadeInUp.animate__animated 3 Individual retail floors
          p.fadeInUp.animate__animated Fully refurbished - elegant Parisian style


  //- end   video__item
//- end   video