//- begin video
.video#video
  .container.container--paddings
    //- begin video__item
    .video__item
      .video__link.fadeInLeft.animate__animated
        a.video__btn.video-icon-box.video-icon-large(
          href="https://www.youtube.com/watch?v=GgsYYwbyQ-s"
          data-fancybox="video-01")
          span.video-icon
            span.video-icon-sonar
              span.video-icon-sonar-bfr.bg-extra-dark-gray.opacity-7
              span.video-icon-sonar-afr.bg-extra-dark-gray
        img(src="assets/img/video-01.png" alt="3D FLY-THROUGH ANIMATION")
      .video__descr
        h4.subtitle.video__title.fadeInUp.animate__animated VIDEO
        h3.subtitle.video__subtitle.fadeInUp.animate__animated 3D FLY-THROUGH ANIMATION
        .video__text
          p.fadeInUp.animate__animated 42 Rue Des Francs Bourgeois is a mixed-use development in the heart of Paris. A unique opportunity for future homeowners and potential investors.
          p.fadeInUp.animate__animated The property comprises three individual retail floors and private apartments on the top four floors. Without doubt, it is a perfect choice of apartments one has always dreamed of.
    //- end   video__item

    //- begin video__item
    .video__item
      .video__link.fadeInRight.animate__animated
        a.video__btn.video-icon-box.video-icon-large(
          href="https://www.youtube.com/watch?v=kTIE7ns00m4"
          data-fancybox="video-02")
          span.video-icon
            span.video-icon-sonar
              span.video-icon-sonar-bfr.bg-extra-dark-gray.opacity-7
              span.video-icon-sonar-afr.bg-extra-dark-gray
        img(src="assets/img/video-02.png" alt="RETAIL SHOWROOM 3D ANIMATION")
      .video__descr
        h4.subtitle.video__title.fadeInUp.animate__animated VIDEO
        h3.subtitle.video__subtitle.fadeInUp.animate__animated RETAIL SHOWROOM 3D ANIMATION
        .video__text
          p.fadeInUp.animate__animated Elegant architecture of an old hotel distinguishes the property from the rest in the area and its neatly renovated exterior creates synergy with the Parisian vibe.
          p.fadeInUp.animate__animated It is a strategic opportunity for any luxury segment retail brand to rent or buy a space at 42 Rue Des Francs Bourgeois.
  //- end   video__item
//- end   video