//- begin vr
.vr#vr
  .container.container--paddings
    .vr__subtitle.subtitle VR TOUR
    h2.vr__title.title 360 3D VIRTUAL REALITY TOUR
  a(href="https://360.visengine.com/mpm2019/vrt_interactive_apt/#pano266/90.0/0.0/90.0" target="_blank" rel="nofollow noopener noreferrer").vr__link
    img(src="assets/img/bg-vr-comp.png" alt="vr")
    //-.vr__link-btn
//- end   vr