//- begin vr
a(href="https://360.visengine.com/mpm2019/vrt_interactive_apt/#pano266/90.0/0.0/90.0" target="_blank" rel="nofollow noopener noreferrer").vr#vr
  .container.container--paddings
    .vr__subtitle.subtitle VR TOUR
    h2.vr__title.title 360 3D VIRTUAL REALITY TOUR
  .vr__link
    .vr__link-btn
//- end   vr