//- begin cookie
.cookie.cookie_notice
  .container
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda non odio voluptate? A, aspernatur autem blanditiis deleniti dolores eaque est, expedita maxime numquam quia quibusdam.
    a.cookie_btn.btn#cookie_close(href="#") AGREE
    //-a.cookie_btn(href="#politika") Политика конфиденциальности
//- end   cookie