//- begin logo
a(href="#top").logo.scroll
  svg#svg2(xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns#' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' version='1.1' xml:space='preserve' width='338.26666' height='64.252533' viewBox='0 0 338.26666 64.252533' sodipodi:docname='LOGO_VisEngine_R.ai')
    metadata#metadata8
      rdf:rdf
        cc:work(rdf:about='')
          dc:format image/svg+xml
          dc:type(rdf:resource='http://purl.org/dc/dcmitype/StillImage')
    defs#defs6
      clippath#clipPath30(clipPathUnits='userSpaceOnUse')
        path#path28(d='M 0,48.189 H 253.7 V 0 H 0 Z')
    sodipodi:namedview#namedview4(pagecolor='#ffffff' bordercolor='#666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='640' inkscape:window-height='480')
    g#g10(inkscape:groupmode='layer' inkscape:label='LOGO_VisEngine_R' transform='matrix(1.3333333,0,0,-1.3333333,0,64.252533)')
      g#g12(transform='translate(21.5772,31.9501)')
        path#path14(d='m 0,0 -2.186,4.272 12.794,-0.001 4.967,6.445 H -5.449 l -9.8,-12.599 -3.111,-0.146 6.523,-10.382 12.394,11.272 -3.948,-0.185 z' style='fill:#29b2b6;fill-opacity:1;fill-rule:nonzero;stroke:none')
      g#g16(transform='translate(22.2334,30.6679)')
        path#path18(d='m 0,0 -0.162,0.318 -0.8,-0.011 -9.595,-12.857 0.138,0.006 -3.409,-0.162 6.522,-10.381 L 5.09,-11.813 1.174,-11.999 14.092,-7.62 20.334,0 h -3.459 z' style='fill:#29b2b6;fill-opacity:1;fill-rule:nonzero;stroke:none')
      g#g20(transform='translate(0,30.8106)')
        path#path22(d='m 0,0 15.517,-30.614 23.592,30.471 -2.844,5.555 -19.988,-25.802 -3.899,7.697 9.856,12.55 -2.843,5.555 -9.819,-12.732 -3.258,6.505 9.814,12.671 -2.746,5.415 z' style='fill:#e5194d;fill-opacity:1;fill-rule:nonzero;stroke:none')
      g#g24
        g#g26(clip-path='url(#clipPath30)')
          g#g32(transform='translate(72.9463,5.5722)')
            path#path34(d='m 0,0 v -4.38 h 0.047 c 0.607,0 1.064,0.027 1.372,0.083 0.306,0.054 0.599,0.175 0.873,0.359 0.276,0.185 0.495,0.43 0.658,0.736 0.163,0.305 0.245,0.64 0.245,1.008 0,0.46 -0.132,0.877 -0.39,1.25 -0.26,0.372 -0.571,0.623 -0.934,0.752 C 1.511,-0.065 1.023,0 0.413,0 Z M -0.819,0.799 H 0.635 C 1.783,0.799 2.64,0.494 3.199,-0.113 3.76,-0.721 4.04,-1.415 4.04,-2.194 4.04,-2.98 3.75,-3.677 3.172,-4.281 2.592,-4.886 1.748,-5.187 0.643,-5.187 h -1.462 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          path#path36(d='m 83.69,6.371 h 0.809 V 0.385 H 83.69 Z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g38(transform='translate(97.3731,5.4121)')
            path#path40(d='m 0,0 -0.606,-0.598 c -0.612,0.6 -1.319,0.899 -2.12,0.899 -0.701,0 -1.285,-0.226 -1.753,-0.676 -0.465,-0.45 -0.699,-1.015 -0.699,-1.689 0,-0.592 0.226,-1.124 0.679,-1.599 0.451,-0.475 1.077,-0.712 1.871,-0.712 1.195,0 1.945,0.519 2.252,1.557 h -1.615 v 0.816 H 0.56 c 0,-0.409 -0.029,-0.736 -0.083,-0.98 -0.055,-0.244 -0.169,-0.513 -0.34,-0.808 -0.173,-0.293 -0.403,-0.557 -0.689,-0.79 -0.287,-0.232 -0.594,-0.399 -0.922,-0.499 -0.326,-0.101 -0.718,-0.15 -1.172,-0.15 -1.033,0 -1.857,0.324 -2.474,0.974 -0.616,0.65 -0.922,1.392 -0.922,2.227 0,0.881 0.313,1.63 0.942,2.247 0.632,0.619 1.394,0.927 2.29,0.927 0.533,0 1.018,-0.08 1.459,-0.242 C -0.911,0.743 -0.46,0.441 0,0' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          path#path42(d='m 104.766,6.371 h 0.81 V 0.385 h -0.81 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g44(transform='translate(112.2979,6.371)')
            path#path46(d='M 0,0 H 3.662 V -0.817 H 2.234 v -5.169 h -0.81 v 5.169 l -1.424,0 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g48(transform='translate(124.6924,4.7324)')
            path#path50(d='M 0,0 -0.956,-2.135 H 0.969 Z M 0.004,1.869 2.829,-4.348 H 1.973 L 1.277,-2.816 H -1.262 L -1.949,-4.348 H -2.8 Z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g52(transform='translate(134.1651,6.371)')
            path#path54(d='m 0,0 h 0.808 v -5.179 h 1.95 v -0.807 l -2.758,0 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g56(transform='translate(155.6084,5.7031)')
            path#path58(d='m 0,0 -0.66,-0.53 c -0.177,0.181 -0.336,0.316 -0.479,0.406 -0.14,0.089 -0.346,0.134 -0.615,0.134 -0.295,0 -0.531,-0.068 -0.715,-0.199 -0.184,-0.133 -0.273,-0.304 -0.273,-0.513 0,-0.182 0.078,-0.341 0.239,-0.481 0.159,-0.138 0.431,-0.291 0.816,-0.456 0.385,-0.166 0.683,-0.319 0.898,-0.462 0.215,-0.142 0.39,-0.299 0.527,-0.47 0.137,-0.173 0.241,-0.355 0.309,-0.545 0.066,-0.192 0.099,-0.393 0.099,-0.606 0,-0.498 -0.181,-0.923 -0.542,-1.273 -0.362,-0.351 -0.799,-0.526 -1.313,-0.526 -0.502,0 -0.945,0.137 -1.328,0.412 -0.384,0.273 -0.68,0.685 -0.885,1.233 l 0.818,0.23 c 0.297,-0.673 0.751,-1.01 1.368,-1.01 0.296,0 0.543,0.09 0.74,0.267 0.197,0.178 0.298,0.403 0.298,0.675 0,0.161 -0.052,0.325 -0.157,0.489 -0.103,0.163 -0.233,0.299 -0.386,0.406 -0.153,0.105 -0.398,0.227 -0.733,0.365 -0.335,0.138 -0.593,0.263 -0.772,0.378 -0.183,0.113 -0.339,0.25 -0.471,0.407 -0.131,0.159 -0.228,0.316 -0.289,0.473 -0.061,0.156 -0.093,0.323 -0.093,0.502 0,0.428 0.174,0.795 0.518,1.096 0.345,0.303 0.763,0.453 1.253,0.453 0.326,0 0.658,-0.07 0.992,-0.21 C -0.502,0.503 -0.221,0.288 0,0' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g60(transform='translate(168.0225,3.375)')
            path#path62(d='m 0,0 c 0,0.66 -0.238,1.217 -0.716,1.669 -0.475,0.452 -1.06,0.679 -1.757,0.679 -0.66,0 -1.226,-0.231 -1.699,-0.691 C -4.643,1.196 -4.877,0.645 -4.877,0 c 0,-0.653 0.24,-1.207 0.725,-1.659 0.484,-0.452 1.077,-0.679 1.779,-0.679 0.644,0 1.2,0.232 1.669,0.692 C -0.234,-1.183 0,-0.635 0,0 m -5.734,0.038 c 0,0.863 0.326,1.605 0.978,2.22 0.652,0.618 1.435,0.926 2.35,0.926 0.892,0 1.661,-0.311 2.306,-0.932 0.647,-0.622 0.968,-1.36 0.968,-2.214 0,-0.904 -0.317,-1.67 -0.956,-2.293 -0.638,-0.626 -1.42,-0.937 -2.348,-0.937 -0.915,0 -1.692,0.314 -2.334,0.943 -0.642,0.629 -0.964,1.392 -0.964,2.287' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g64(transform='translate(175.8496,6.371)')
            path#path66(d='M 0,0 H 0.808 V -5.179 H 2.757 V -5.986 L 0,-5.986 Z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g68(transform='translate(185.0869,6.3613)')
            path#path70(d='m 0,0 h 0.817 v -3.68 c 0,-0.545 0.131,-0.966 0.393,-1.263 0.263,-0.297 0.632,-0.446 1.111,-0.446 0.476,0 0.847,0.137 1.112,0.41 0.264,0.275 0.397,0.661 0.397,1.159 V 0 h 0.817 v -3.764 c 0,-0.733 -0.21,-1.318 -0.627,-1.757 -0.417,-0.438 -0.975,-0.658 -1.67,-0.658 -0.711,0 -1.28,0.223 -1.709,0.667 C 0.213,-5.066 0,-4.41 0,-3.543 Z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g72(transform='translate(196.334,6.371)')
            path#path74(d='M 0,0 H 3.66 V -0.817 H 2.233 V -5.986 H 1.425 v 5.169 l -1.425,0 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          path#path76(d='m 206.676,6.371 h 0.808 V 0.385 h -0.808 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g78(transform='translate(220.0576,3.375)')
            path#path80(d='M 0,0 C 0,0.66 -0.239,1.217 -0.714,1.669 -1.19,2.121 -1.775,2.348 -2.473,2.348 -3.133,2.348 -3.698,2.117 -4.17,1.657 -4.643,1.196 -4.877,0.645 -4.877,0 c 0,-0.653 0.241,-1.207 0.725,-1.659 0.484,-0.452 1.078,-0.679 1.778,-0.679 0.645,0 1.203,0.232 1.671,0.692 C -0.235,-1.183 0,-0.635 0,0 m -5.733,0.038 c 0,0.863 0.325,1.605 0.978,2.22 0.651,0.618 1.435,0.926 2.348,0.926 0.893,0 1.664,-0.311 2.308,-0.932 0.646,-0.622 0.968,-1.36 0.968,-2.214 0,-0.904 -0.318,-1.67 -0.957,-2.293 -0.638,-0.626 -1.42,-0.937 -2.347,-0.937 -0.914,0 -1.692,0.314 -2.334,0.943 -0.643,0.629 -0.964,1.392 -0.964,2.287' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g82(transform='translate(227.7197,6.6103)')
            path#path84(d='m 0,0 4.426,-4.549 v 4.31 h 0.818 v -6.264 l -4.427,4.529 v -4.252 l -0.817,0 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g86(transform='translate(243.6162,5.7031)')
            path#path88(d='m 0,0 -0.663,-0.53 c -0.176,0.181 -0.334,0.316 -0.478,0.406 -0.14,0.089 -0.345,0.134 -0.614,0.134 -0.295,0 -0.532,-0.068 -0.716,-0.199 -0.185,-0.133 -0.275,-0.304 -0.275,-0.513 0,-0.182 0.08,-0.341 0.24,-0.481 0.16,-0.138 0.433,-0.291 0.817,-0.456 0.384,-0.166 0.684,-0.319 0.897,-0.462 0.214,-0.142 0.39,-0.299 0.528,-0.47 0.139,-0.173 0.241,-0.355 0.309,-0.545 0.065,-0.192 0.099,-0.393 0.099,-0.606 0,-0.498 -0.181,-0.923 -0.542,-1.273 -0.363,-0.351 -0.799,-0.526 -1.315,-0.526 -0.5,0 -0.943,0.137 -1.325,0.412 -0.384,0.273 -0.679,0.685 -0.887,1.233 l 0.819,0.23 c 0.297,-0.673 0.752,-1.01 1.367,-1.01 0.296,0 0.544,0.09 0.742,0.267 0.197,0.178 0.297,0.403 0.297,0.675 0,0.161 -0.053,0.325 -0.156,0.489 -0.104,0.163 -0.234,0.299 -0.386,0.406 -0.154,0.105 -0.399,0.227 -0.734,0.365 -0.335,0.138 -0.592,0.263 -0.774,0.378 -0.181,0.113 -0.337,0.25 -0.47,0.407 -0.13,0.159 -0.227,0.316 -0.288,0.473 -0.062,0.156 -0.094,0.323 -0.094,0.502 0,0.428 0.174,0.795 0.519,1.096 0.343,0.303 0.763,0.453 1.254,0.453 0.325,0 0.657,-0.07 0.99,-0.21 C -0.504,0.503 -0.223,0.288 0,0' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g90(transform='translate(39.1084,30.6679)')
            path#path92(d='M 0,0 -23.592,-30.472 H -2.658 L 20.982,0 Z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          path#path94(d='m 146.721,12.322 h -3.664 v 18.334 h 3.664 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          path#path96(d='m 159.126,12.322 h -3.663 v 18.334 h 3.663 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          path#path98(d='m 92.801,12.322 h -3.663 v 18.334 h 3.663 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          path#path100(d='m 197.687,12.322 h -3.663 v 18.334 h 3.663 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          path#path102(d='m 120.828,30.657 h 14.715 v -3.663 h -14.715 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          path#path104(d='m 120.828,23.322 h 14.715 v -3.664 h -14.715 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          path#path106(d='m 120.828,15.986 h 14.715 v -3.664 h -14.715 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          path#path108(d='m 229.065,30.656 h 14.714 v -3.663 h -14.714 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          path#path110(d='m 229.065,23.322 h 14.714 v -3.664 h -14.714 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          path#path112(d='m 229.065,15.986 h 14.714 v -3.664 h -14.714 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g114(transform='translate(152.874,17.1464)')
            path#path116(d='M 0,0 -3.869,3.72 V 8.745 L 0,5.025 Z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          path#path118(d='m 209.146,12.322 h -3.663 v 18.334 h 3.663 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          path#path120(d='m 221.552,12.322 h -3.664 v 18.334 h 3.664 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g122(transform='translate(215.2998,17.1464)')
            path#path124(d='M 0,0 -3.869,3.72 V 8.745 L 0,5.025 Z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g126(transform='translate(178.2481,18.75)')
            path#path128(d='M 0,0 H 1.116 V 0.026 H 7.829 C 7.978,0.759 8.052,1.671 8.052,2.808 V 3.272 H 0 Z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g130(transform='translate(181.7149,17.2109)')
            path#path132(d='m 0,0 c -0.284,-0.367 -0.596,-0.695 -0.964,-0.956 -0.954,-0.677 -2.217,-1.033 -3.822,-1.033 -2.144,0.005 -3.742,0.64 -4.916,1.895 -1.201,1.294 -1.774,2.688 -1.777,4.26 0.005,1.83 0.599,3.295 1.824,4.509 1.222,1.208 2.723,1.803 4.592,1.807 2.13,-0.004 3.974,-0.796 5.618,-2.441 l 0.317,-0.318 2.347,2.366 -0.339,0.33 c -1.321,1.296 -2.629,2.2 -3.94,2.691 -1.289,0.484 -2.705,0.724 -4.244,0.724 -2.612,0.003 -4.887,-0.938 -6.722,-2.791 -1.843,-1.844 -2.784,-4.139 -2.78,-6.769 -0.002,-2.509 0.916,-4.774 2.708,-6.703 1.812,-1.963 4.27,-2.943 7.255,-2.938 1.308,0 2.446,0.146 3.419,0.45 0.974,0.305 1.891,0.813 2.734,1.517 0.838,0.7 1.519,1.494 2.029,2.391 0.199,0.349 0.354,0.68 0.504,1.009 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g134(transform='translate(62.8301,30.664)')
            path#path136(d='m 0,0 h 3.967 l 5.33,-9.358 v -8.872 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g138(transform='translate(83.0918,30.664)')
            path#path140(d='m 0,0 h -3.966 l -5.33,-9.358 v -8.872 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g142(transform='translate(104.6631,21.7226)')
            path#path144(d='M 0,0 2.507,2.089 C 0.773,2.836 0.018,3.271 0.018,4.484 c 0,1.405 1.052,2.064 2.193,2.064 1.183,0 2.634,-0.63 3.182,-2.054 L 7.338,6.116 7.397,6.167 C 5.96,8.934 3.309,9.356 2.341,9.356 c -3.069,0 -5.307,-1.887 -5.307,-5.09 0,-0.922 0.131,-1.8 0.833,-2.678 C -1.641,0.99 -0.94,0.5 0,0' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g146(transform='translate(108.8233,23.0859)')
            path#path148(d='m 0,0 -2.565,-2.139 c 0.227,-0.101 0.46,-0.206 0.703,-0.313 1.712,-0.747 2.942,-1.318 2.942,-3.027 0,-1.362 -0.922,-2.898 -2.984,-2.898 -2.282,0 -3.557,2.567 -3.907,3.532 l -2.391,-1.993 c 1.536,-4.563 5.508,-4.348 6.253,-4.348 3.511,0 6.276,2.151 6.276,5.97 0,1.008 -0.174,1.975 -0.965,2.94 C 2.779,-1.547 1.816,-0.846 0,0' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g150(transform='translate(249.3213,28.771)')
            path#path152(d='m 0,0 v -1.583 c 0.914,-0.018 1.374,0.247 1.374,0.796 0,0.192 -0.056,0.348 -0.161,0.471 C 1.105,-0.194 0.96,-0.11 0.785,-0.066 0.605,-0.022 0.343,0 0,0 m -0.621,0.549 h 0.984 c 0.49,0 0.889,-0.122 1.196,-0.365 0.307,-0.243 0.462,-0.556 0.462,-0.935 0,-0.305 -0.099,-0.572 -0.298,-0.806 -0.2,-0.233 -0.51,-0.396 -0.932,-0.491 l 1.32,-1.945 H 1.4 L 0.139,-2.125 H 0 v -1.868 h -0.621 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')
          g#g154(transform='translate(253.4248,27.0488)')
            path#path156(d='M 0,0 H -0.25 C -0.253,-1.716 -1.643,-3.104 -3.359,-3.107 -5.072,-3.104 -6.462,-1.716 -6.465,0 -6.462,1.716 -5.072,3.104 -3.359,3.107 -1.643,3.104 -0.253,1.716 -0.25,0 H 0 0.25 c 0,1.993 -1.616,3.607 -3.609,3.607 -1.991,0 -3.606,-1.614 -3.606,-3.607 0,-1.992 1.615,-3.606 3.606,-3.607 1.993,0 3.609,1.615 3.609,3.607 z' style='fill:#221f1f;fill-opacity:1;fill-rule:nonzero;stroke:none')

//- end   logo