@font-face {
  font-family: Constantia;
  src:  url('../fonts/Constantia.woff2') format('woff2'),
        url('../fonts/Constantia.woff')  format('woff');
}

@font-face {
  font-family: Huova;
  src:  url('../fonts/Huova.woff2') format('woff2'),
        url('../fonts/Huova.woff')  format('woff');
}
