// ===== main colors =====
$brand: #26b4b7;
$highlight: #e6194d;
$highlight-hov: lighten($highlight, 5%);

// ===== text colors =====
$text: #181a19;

// ===== link colors =====
$link: lighten($brand, 10%);
$link-hov: lighten($link, 25%);

// ===== transition =====
$transition-hover: .3s ease-in-out;

// ===== fonts =====
$font: 'Constantia', sans-serif;
$title: 'Huova', sans-serif;
