extends ../_template

block variables
  - let title       = 'VisEngine - Apartment in Central Paris'
  - let description = 'VisEngine - Apartment in Central Paris'

block content
  .main-wrap
    include ../sections/header

    main.main
      include ../sections/top
      include ../sections/concept
      include ../sections/video
      include ../sections/vr
      include ../sections/gallery
      include ../sections/interactive
      include ../sections/about
      include ../sections/contacts
      include ../sections/map

    include ../sections/footer
    include ../elements/back-to-top
    include ../elements/cookie
    include ../sections/scripts

