extends ../_template

block variables
  - var title       = 'ViSENGINE'
  - var description = ''

block content
  .main-wrap
    include ../sections/header

    main.main
      include ../sections/top
      include ../sections/concept
      include ../sections/video
      include ../sections/gallery
      include ../sections/vr
      include ../sections/about
      include ../sections/interactive
      include ../sections/map



    include ../sections/footer
    include ../sections/scripts
